{% extends "polls-base-without-recent.html" %}
{% load i18n md2 %}
{% block metatitle %}{% trans "Polls" %}{% endblock %}
{% block title %}{% trans "Polls" %}{% endblock %}
{% block reporterrorlink %}{% url errorreport %}?url={% url molnet-polls-startpage %}{% endblock %}
{% block javascript %}
  <script type='text/javascript'>
  $(document).ready(function() {
    $("#navigation").corner("3px");
  });
  </script>
{% endblock %}
{% block main %}
  <h4>
    {% trans "Give and receive feedback by creating and answering polls" %}
  </h4>
  {% if sidebar_polls.recent %}
  <ul>
    {% for poll in sidebar_polls.recent %}
    <li>
      <h3>
        <a href="{% url molnet-polls-show-poll poll.published_at.year poll.published_at.month poll.published_at.day poll.slug %}">
          {{ poll.title }}
        </a>
      </h3>
      <div class="poll-description">
        {{ poll.description|markdown2 }}
      </div>
      {% include "polls-meta.html" %}
      <hr/>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
