{% extends "polls-base-without-recent.html" %}
{% load i18n md2 %}
{% block metatitle %}{% trans "Polls" %}{% endblock %}
{% block title %}{% trans "Polls" %}{% endblock %}
{% block reporterrorlink %}{% url errorreport %}?url={% url molnet-polls-startpage %}{% endblock %}
{% block javascript %}
  <script type='text/javascript'>
  $(document).ready(function() {
    if (!elementSupportsAttribute('div', '-moz-border-radius') &&
            !elementSupportsAttribute('div', '-webkit-border-radius')) {
        $(".rounded-3").corner("3px");
        $(".rounded-6").corner("6px");
        $(".rounded-9").corner("9px");
        $(".rounded-10").corner("10px");
        $(".rounded-19").corner("19px");
    }
  });
  </script>
{% endblock %}
{% block main %}
  <h2>
    {% trans "Give and receive feedback by creating and answering polls" %}
  </h2>
  {% if not request.user.is_authenticated %}
  <p>{% trans "Please log in." %}</p>
  {% endif %}

  {% if sidebar_polls.recent %}
  <ul>
    {% for poll in sidebar_polls.recent %}
    <li>
      <h3>
        <a href="{% url molnet-polls-show-poll poll.published_at.year poll.published_at.month poll.published_at.day poll.slug %}">
          {{ poll.title }}
        </a>
      </h3>
      <div class="poll-description">
        {{ poll.description|markdown2 }}
      </div>
      {% include "polls-meta.html" %}
      <hr/>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
