{% extends "polls-base.html" %}
{% load i18n md2 %}
{% block metatitle %}{% trans "Poll" %}{% endblock %}
{% block reporterrorlink %}{% url errorreport %}?url={% url molnet-polls-show-poll poll.published_at.year poll.published_at.month poll.published_at.day poll.slug %}{% endblock %}
{% block javascript %}
  <script type='text/javascript'>
  $(document).ready(function() {
    if (!elementSupportsAttribute('div', '-moz-border-radius') &&
            !elementSupportsAttribute('div', '-webkit-border-radius')) {
        $(".rounded-3").corner("3px");
        $(".rounded-6").corner("6px");
        $(".rounded-9").corner("9px");
        $(".rounded-10").corner("10px");
        $(".rounded-19").corner("19px");
    }

    $("#vote-form input:text").keyup(function() {
        $("#vote-form input[value=OTHER]:radio").attr("checked", "checked");
    });
  });
  </script>
{% endblock %}
{% block main %}
  <div class="span-3">&nbsp;</div>
  <div class="poll append-3 span-12 box rounded-9">
    <h3><a href="#">{{ poll.title }}</a></h3>
    <div>
      {{ poll.description|markdown2 }}
    </div>

    {% if form %}
    <form id="vote-form" action="." method="post">
      {% if form.choices.errors %}
      <p>{{ form.choices.errors }}</p>
      {% endif %}
      {{ form.choices }}
      <input class="submit" type="submit"
             value="{% if vote_id %}{% trans "Change your vote" %}{% else %}{% trans "Vote" %}{% endif %}" />
    </form>
    {% else %}
    <ul>
      {% for choice in choices %}
      <li>{{ choice }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="span-3">&nbsp;</div>
  <div class="append-3 span-12 last">
    {% include "polls-meta.html" %}
    <p>
      {% blocktrans %}
      {{ number_of_votes }} persons have voted so far.
      {% endblocktrans %}
      {% if not show_results %}
      <a href="?show-results">{% trans "See results?" %}</a>
      {% endif %}
    </p>

    <div class="poll-results"
         {% if not show_results %}style="display:none;"{% endif %}>
      <h3>{% trans "Results" %}</h3>
      <ul>
        {% for choice in choices %}
        <li>
          {{ choice }}<br/>
          {% if choice.num_votes %}
          <div class="rounded-3"
               style="display:inline-block;width:{% widthratio choice.num_votes number_of_votes 250 %}px;background-color:#ffc979;">
            &nbsp;
          </div>
          {% widthratio choice.num_votes number_of_votes 100 %}%{% if choice.num_votes %} ({{ choice.num_votes }}){% endif %}
          {% else %}
          <div class="rounded-3"
               style="display:inline-block;width:5px;background-color:#eee;">
            &nbsp;
          </div>
          0%
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
